mycoins.xlsx
output_with_images.xlsx
proxy/urls_and_prices.csv
proxy/urls_and_prices.xlsx
proxy/free-proxy.py
proxy/excel_to_json.py
proxy/edit_excel.py
output.xlsx
views/__pycache__/coins.cpython-312.pyc
.gitignore
